.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  height: 100vh;

  &__image {
    max-width: 50%;
    padding: inherit;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__content {
    max-width: 50%;
    margin-left: 50px;

    h1 {
      color: #333;
      margin-bottom: 20px;
      font-size: 3rem;
    }

    h2 {
      color: #333;
      margin-bottom: 20px;
      font-size: 2rem;
    }

    p {
      color: #666;
      line-height: 1.6; 
    }
  }
}

@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    text-align: center;

    &__image {
      max-width: 100%;
      margin-bottom: 20px;
    }

    &__content {
      margin-left: 0;
    }
  }
}
