// Dashboard colors
$dashboard-background-color: #3F3F3F;
$dashboard-buttons-color: black;
$dashboard-text-color: white;

// Timeline colors
$timeline-background-color: #F5F5F5;
$timeline-line-color: #D3D3D3;
$timeline-date-color: #3F3F3F;

// About colors
$about-background-color: #F8F8F8;
$about-text-color: #333;